.autocomplete__container {
    position: relative;
    width: min(500px, 40%);
    margin: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.searchbox__container {
    padding: 8px;
    margin: 8px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5), 0 1px 2px -1px rgb(0 0 0 / 0.5);

    &:focus-within {
        outline: hsl(200, 50%, 50%) solid 3px;
        outline-offset: 3px;
    }
}

.search__icon {
    color: hsl(200, 50%, 50%);
    width: 20px;
    height: 20px;
}

.searchbox__container > input {
    width: 100%;
    outline: none;
    margin: 0 10px;
}

.suggestions {
    display: absolute;
    z-index: 10;
    max-height: 200px;
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5), 0 1px 2px -1px rgb(0 0 0 / 0.5);
    overflow-y: auto;
    gap: 2px;

    li {
        padding: 4px;
        text-align: start;
        cursor: pointer;
        transition: all .25s ease;
        border-radius: 4px;

        &:hover {
            background-color: hsl(200, 50%, 50%);
            color: white;
        }
    }
}